<div class="container title-box px-4 mb-1">
    <!-- <div class="shmutz">
      <h1>SHMUTZ</h1>
    </div> -->
    <img src="/images/cooltext421885938603542.png" alt="gay" srcset="">
    <div class="av mb-2">
      AUDIO<span class="slash">/</span><span class="video">VIDEO
      </span>
     
    </div>
  </div>
<div class="row-fluid d-flex justify-content-center slogan mb-4">Proudly serving the Greater Toronto Area since 1999</div>