<div class="row nav-row mb-5">
  <button onclick="location.href='/'" class="col-sm-4 nav-item navbar-button btn">
    HOME
  </button>
  <button onclick="location.href='/music'" class="col-sm-4 nav-item navbar-button btn">
    MUSIC
  </button>
  <button onclick="location.href='/videos'" class="col-sm-4 nav-item navbar-button btn">
    VIDEOS
  </button>
  <button onclick="location.href='/about'" class="col-sm-4 nav-item navbar-button btn">
    ABOUT
  </button>
  <button onclick="location.href='/contact'" class="col-sm-4 nav-item navbar-button btn">
    CONTACT
  </button>
</div>