<%- include ('./partials/start.ejs') %>
<%- include ('./partials/header.ejs') %>
<%- include ('./partials/navbar.ejs') %>
<div class="container homepage-content ">
  <div class="row">
    <div class="col-lg-6"><iframe width="100%" height="315" src="https://www.youtube.com/embed/fNNZj5oYZvY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div class="col-lg-6">
      <div class="homepage-text ps-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit debitis consequuntur, tenetur aliquid, perferendis eveniet excepturi beatae ea quae sapiente nulla, voluptatum quo laborum libero obcaecati totam? Deleniti, excepturi sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae tempore eaque cumque obcaecati reprehenderit, doloremque at, nihil laboriosam maxime sed doloribus corrupti! Animi laboriosam accusamus cupiditate commodi numquam dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eligendi autem tempore nulla maxime voluptatum deserunt accusantium atque temporibus ipsam. Ducimus dolor unde illum optio voluptatum provident ipsam placeat quasi!
        
        <!-- create logout item 
        <form action="/admin/logout" method="post">
          <button class="logout">logout</button>
        </form> -->
        
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/end.ejs') %>