<!DOCTYPE html>
<%- include ('./partials/start.ejs') %>
<%- include ('./partials/header.ejs') %>
<%- include ('./partials/navbar.ejs') %>
<div class="container-fluid mt-4 row spotify-previews">

  <iframe style="border-radius:12px;" class="mb-3" src="https://open.spotify.com/embed/track/7aNB2MCYaexAhzlJ19i90u?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  <iframe style="border-radius:12px" class="mb-3" src="https://open.spotify.com/embed/track/2tPLh6UXXDNuIDy5Psp0qO?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  <iframe style="border-radius:12px" class="mb-3" src="https://open.spotify.com/embed/track/5QTc1AKRtEaB5X5Hk97mmv?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>
<img src="https://drive.google.com/file/d/1UxQu_9nftaPa_MYuDDD5rboXaRc0NARM/view?usp=sharing" alt="oos" srcset="">

<!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2tPLh6UXXDNuIDy5Psp0qO?utm_source=generator" width="100%" height="220" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  <iframe style="border-radius:0px" src="https://open.spotify.com/embed/track/5QTc1AKRtEaB5X5Hk97mmv?utm_source=generator" width="100%" height="220" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe> -->
<!-- <script src="https://unpkg.com/webamp"></script>
<script defer>
  if (!Webamp.browserIsSupported()) {
    alert("Oh no! Your browser does not support the music player!")
    throw new Error("What's the point of anything?")
  }
  
  const webamp = new Webamp({
    initialTracks: [{
      metaData: {
        artist: "Joey Bonito",
        title: "If Y'ask Me",
      },
      url: "/music/If Y'ask Me.wav"
    }, {
      metaData: {
        artist: "Shmutz",
        title: "In/Out of It",
      },
      url: "/music/In and Out of It.wav"
    }, {
      metaData: {
        artist: "Shmutz",
        title: "Play It Safe"
      },
      url: "/music/Play it Safe.mp3"
    }, {

      metaData: {
        artist: "Shmutz",
        title: "Play It Safe"
      },
      url: "https://drive.google.com/file/d/1HFdzgr8ZqrqfXjvHEJH76dk0riowD0CL/view?usp=sharing"
    }],


    initialSkin: {
      url: "/wsz/ExpensiveHi-Fi.wsz"
    }
  });
  webamp.renderWhenReady(webampContainer);
</script> -->
<%- include ('./partials/end.ejs') %>