<!DOCTYPE html>
<%- include ('./partials/start.ejs') %>
<%- include ('./partials/header.ejs') %>
<%- include ('./partials/navbar.ejs') %>

<div class="container-fluid row">
    
    <div class="col-12 col-lg-6">hi there</div>
    <div class="col-12 col-lg-6">hey</div>
</div>

<%- include ('./partials/end.ejs') %>
